#category{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media(max-width:776px){
    #category{
        grid-template-columns: repeat(2,1fr)
    }
}

#category a{
    height: 300px;
    background-size:cover!important;
    background-position: center center!important;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color:var(--white);
    font-weight:700;
    font-size:30px;
    text-transform:uppercase;
    position: relative;
}

#category a::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1;
    background:var(--black);
    opacity:.4;
    -webkit-transition:opacity .5s;
    transition:opacity .5s;
}

#category a:hover::after{
    opacity:0;
}

#category a span{
    color:var(--white);
    z-index:2;
    position:relative;
    font-family: 'Open Sans Condensed', sans-serif;
}

#category a span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background:var(--white);
    display: block;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    visibility: hidden
}

#category a:hover span::before {
    width: 100%;
    visibility: visible
}