#insbanner{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    background:var(--black)
}

#insbanner h3{
    font-size:50px;
    color:var(--white);
    position: absolute;
    top:40%;
    left:0;
    width:100%;
    text-align:center;
    z-index:2;
}

#insbanner img{
    position: relative;
    opacity: .6;
    -webkit-transition:opacity .5s;
    transition:opacity .5s;
}

#insbanner img:hover{
    opacity:1;
}