#nav{
    background:var(--black);
    top:0;
    left:0;
    z-index:40;
    width: 100%;
    display:flex
}

#nav.fixed{
    position: fixed;
    align-items: center;
}

@media(max-width:776px){    
    #nav{
        position: fixed;
        padding: 14px 0;
    }
}

#nav ul{
    padding:14px 0
}

#nav.fixed ul{
    width:auto
}

@media(max-width:776px){
    #nav ul{
        display: none;
    }
}

#nav li{
    display:inline-block;
    margin:0 30px 0 0
}

#nav ul a{
    display:inline-block;
    color:var(--light);
    position: relative;
    text-decoration:none;
    text-transform: uppercase;
    font-weight:700;
    font-size:14px;
    letter-spacing:1px;
}

#nav ul a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background:var(--white);
    display: block;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    visibility: hidden
}

#nav ul a:hover::before {
    width: 100%;
    visibility: visible
}

/* іконка меню */
#menu-button{
    margin: 0 auto 0 15px;
    background:none;
    border:none;
    display: none;
}

@media(max-width:776px){
    #menu-button{
        display: block;
    }
}

#menu-button svg{
    width:25px;
    fill:var(--white);
}

/* mobile menu */
#nav.active ul{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:60;
    width:100%;
    background:var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#nav.active ul li{
    margin: 10px 0;
}

#nav.active ul li a{
    padding: 10px;
}

/* кнопка закриття */
#menu-close-button{
    position: absolute;
    top:50px;
    right:50px;
    z-index: 70;
    background:none;
    border:none;
    display: none;
}

#menu-close-button svg{
    width:20px;
    fill:var(--white)
}

/*mini logo */
#logo-small{
    font-weight:700;
    font-size:16px;
    color:var(--white);
    text-decoration:none;
    text-transform: uppercase;
    display:block;
    font-family: 'Open Sans Condensed', sans-serif;
    white-space: nowrap;
    display: none;
}

.fixed #logo-small{
    display:block;
    margin: 0 20px
}

@media(max-width:776px){
    #logo-small{
        display:block;
        margin: 0 20px
    }
}

#search-small{
    background:none;
    border:none;
    display: none;
}

.fixed #search-small{
    display:block;
}

@media(max-width:776px){
    #search-small{
        display: block;
        margin: 0 15px 0 auto;
    }
}

#search-small button{
    border:none;
    background:none;
    cursor:pointer;
    margin:0 20px
}

#search-small svg{
    fill:var(--white);
    width:22px;
}