@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* #category h3 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root{
    --white: #fff;
    --light:#fafafa;
    --black:#000;
    --dark:#232323;
    --light-gray: #e6e6e6;
    --gray:#969696;
    --dark-gray:#3b3b3b;
    --red:#ed4848;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    background:var(--white);
}

h1,h2,h3,h4{
    margin:0 0 30px
}

h5{
    font-weight:700;
    font-size:13px;
    margin:0 0 20px;
}

p{
    margin:0 0 20px
}

.container{
    width: 1200px;
    margin:auto;
    display: flex;
}

@media(max-width:1240px){
    .container{
        width:95%;
    }
}

img{
    max-width:100%!important;
    height:auto;
}

table,th,td{
    border-collapse: collapse;
}

/* сірий блок з підзаголовком */
.heading{
    display: flex;
    align-items: center;
    background:var(--light);
    padding: 10px;
    margin:0 0 20px
}

.heading p{
    display:inline-flex;
    background: var(--dark);
    margin: 0 auto 0 10px;
    color: var(--white);
    padding: 3px 10px;
    transform: skew(-20deg);
}

.heading p span{
    font-weight:700;
    display:inline-flex;
    transform: skew(20deg);
}

/* вгору */
#up{ 
    bottom:20px; 
    right:20px; 
    display:none; 
    font-size: 30px; 
    position:fixed; 
    text-decoration:none; 
    -webkit-transition: all .8s ease; 
    transition: all .8s ease; 
    opacity: 0.3; 
    color: var(--black); 
    z-index: 3;
}

#up:hover{ 
    opacity: 1;
}

#up svg{
    width: 42px;
    fill:var(--light)
}