/* товари плиткою */

.tiles{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    margin:10px 0
}

@media(max-width:776px){
    .tiles{
        grid-template-columns: repeat(2,1fr);
    }
}

.tiles figcaption{
    text-align:center;
}